@import '../variables';
#root {
  width: 100%;
}
nav {
  height: 65px;
  background-color: $white;
  border-bottom: 1px solid lightgray;
  color: $black;
  .main-title {
    width: 100%;
    margin-left: 3rem;
    line-height: 63px;
  }
}
.layout {
  display: block;
  background-color: $bg-color;
  min-height: 93vh;
}
.main-content {
  margin: auto;
  width: 90%;
  padding-top: 2rem;
  h2 {
    margin-top: 1em;
  }
}
.content {
  width: 90%;
  margin: auto;
  padding-bottom: 2em;
}

.btn {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 1em;
  border: 1px solid $bordergray;
  width: fit-content;
  border-radius: 5px;
}
.error-message {
  color: red;
  display: block;
  padding-top: 2px;
  font-size: 11px;
}
