@import '../variables';
#root { 
  width: 100%;
}
nav {
  height: 65px;
  background-color: $white;
  border-bottom: 1px solid lightgray;
  color: $black;
  .main-title {
    width: 100%;
    margin-left: 3rem;
    line-height: 63px;
  }
}
.layout {
  display: block;
  background-color: $bg-color;
  position: relative;
}
.main-content {
  margin: auto;
  width: 80%;
  padding-top: 2rem;
  h2 {
    margin-top: 1em;
  }
}
.btn {
  background-color: $primary;
  color: $white;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 1em;
}
.error-message {
  color: red;
  display: block;
  padding-top: 2px;
  font-size: 11px;
}
