$bg-color: #ededed;
$white: white;
$lightgray: #faf9f9;
$bordergray: #dfdcdc;
$gray: gray;
$primary: #ff3c71;
$secondary: #1d1d65;
$red: red;
$black: black;
$lightblue: #509dff;
$blue: rgb(64 80 131);
$bluebg: #e6f2ff;
